{% extends 'base.html' %}

{% block content %}
    <div class="container" style="margin-top: 4em;">
        <div class="row">
            <div class="col-md-8 mt-4">
                {% for post in posts %}
                <div class="row shaderone p-1 mb-3" style="background-color:  rgba(233, 233, 233, 0.295); border-top: .5em inset rgba(209, 209, 209, 0.137);">
                    <div class="col-12" style="margin-bottom: -.8em;">
                        <a class="text-dark" href="{{post.get_absolute_url}}"><h2>{{post.title}}</h2></a>
                    </div>
                    <div class="col-12 ml-2"><small><i>Modificado por última vez: {{post.publish}}</i></small></div>
                    <div class="col-12 mt-2 ml-2"><small class="font-weight-light" style="font-size: .9em;">{{post.excerpt}}</small></div>
                    <div class="col-12 ml-2"><h6><i>By {{post.author}}</i></h6></div>
                </div>
                {% endfor %}
            </div>
            
        </div>
    </div>
{% endblock %}